[Unit]
Description=Home Area key-loading and [re]-mounting for ZFS
After=home.mount systemd-homed.service
Before=systemd-user-sessions.service
Upholds=systemd-homed-zfs-umount.service
PartOf=systemd-homed.service

[Service]
ExecStart=/usr/local/bin/my-services/zfs-homed-mount.sh
Type=simple

[Install]
WantedBy=systemd-homed.service
Also=systemd-homed.service systemd-homed-zfs-umount.service

